<div class="statsMain">
  <div class="stats-heading">
    Overall Stats and outcomes from Professor Smith's Course
  </div>
  <div class="stats-numbers">
    <div class="stats-block">
      <p class="stats-block-number">{{questionsAsked}}</p>
      <p class="stats-block-text">Questions Asked</p>
    </div>
    <div class="stats-block">
      <p class="stats-block-number">{{responsesShared}}</p>
      <p class="stats-block-text">Responses Shared</p>
    </div>
    <div class="stats-block">
      <p class="stats-block-number">{{studentsJoined}}</p>
      <p class="stats-block-text">Students Joined</p>
    </div>
    <div class="stats-block">
      <p class="stats-block-number">{{postsFeatured}}</p>
      <p class="stats-block-text">Posts Featured</p>
    </div>
    <div class="stats-block">
      <p class="stats-block-number">{{questions}}</p>
      <p class="stats-block-text">Questions</p>
    </div>
  </div>

</div>
