.stats-banner{
  background-image: url('./../../../assets/repeating_curiosity.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:18rem;
  border-bottom:6px solid brown;
  width:100%;
}
