<div class="stats-questions">
  <div class="stats-questions-main">
    <div class="stats-questions-main-headertext">
      Packback Questions Improves
      Student Engagement & Retention
    </div>
    <div class="stats-questions-main-subheading">
    Case Study #12:Professor Smith, Illinois State University,2017
    </div>
  </div>
  <div class="stats-questions-infotext">
    <p>Jodi utilized Packback Answers in both of her courses this semester;
      Communications Theory and Introduction to Mass Communication. Both of these courses
      had approximately 150 students per class, and cateredc to the Freshmen/Sophomore communiation
      or general education student. Her goal in using Packback was to finally use a discussion
      board that cultivated quality discussion rather than just being busy work.
    </p>

  </div>
</div>
