<div class="interaction-main">
  <div class="interaction-main-heading">
    "Packback completely changed the waymy class interacted and engaged with the material.
    They because truly curious."
  </div>
  <div class="interaction-info">
    <div class="interaction-info-sub">
      <div class="interaction-info-sub-heading">
        What has your experience been with Packback?
      </div>
      <div class="interaction-info-sub-text">
      <span>Professor Smith:</span> "Packback has exceeded my
        expectations in every way. It's intuitive for the students to use and it's easy to peruse
        and participate in discussions..[and] hasn't added to my workload, which I appreciate.
        What has surprised me the most are the quality of the questions the students are submitting.
        The sutdents ask questions that move far eyond simple knowledge and comprehention of course.
        "
      </div>
    </div>
    <div class="interaction-info-sub">
        <div class="interaction-info-sub-heading">
          How did you previously handle discussion ?
        </div>
        <div class="interaction-info-sub-text">
        <span>Professor Smith:</span> "Packback has exceeded my
          expectations in every way. It's intuitive for the students to use and it's easy to peruse
          and participate in discussions..[and] hasn't added to my workload, which I appreciate.
          What has surprised me the most are the quality of the questions the students are submitting.
          The sutdents ask questions that move far eyond simple knowledge and comprehention of course.
          "
        </div>
      </div>
    </div>
  </div>
